@import '../common/var.scss';

/**
* 使用：
* @include(button) {
*   color: red;
* }
*/
@mixin b($block) {
  $B: $namespace + '-' + $block; // .v-button {}
  .#{$B} {
    @content;
  }
}

// .is-loading
@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}

// v-button--primary
@mixin m($modifier) {
  @at-root {
    #{& + $modifier-separator + $modifier} {
      @content;
    }
  }
}

// v-button__header
@mixin e($element) {
  @at-root {
    #{& + $element-separator + $element} {
      @content;
    }
  }
}

@mixin button-type($color, $gb-color, $border-color) {
  color: $color;
  background-color: $gb-color;
  border: $border-color;
}
